
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Purple Buzz - About Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <link href="~/assets/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/templatemo.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <style>
        #map {
            width: 100%;
            height: 600px;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <!-- Start Banner Hero -->
    <section class="bg-light w-100">
        <div class="container">
            <div class="row d-flex align-items-center py-5">
                <div class="col-lg-6 text-start">
                    <h1 class="h2 py-5 typo-space-line">О нас</h1>
                    <p class="light-300">
                        Наша компания занимается продажами в области электроваров уже более пяти лет.
                        За этот не малый промежуток времени мы успели точно понять какое качество услуг ожидает от нас потребитель.
                        Благодаря нашему опыту уровень качества наших услуг всегда остается на высоком уровне.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="~/assets/img/banner-img-02.svg">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Hero -->
    <!-- Start Team Member -->
    <section class="container py-5">
        <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

            <div class="col-lg-3">
                <h2 class="h2 py-5 typo-space-line">Наша команда</h2>
                <p class="text-muted light-300">
                    На данный момент наша команда имеет всего три сотрудника,
                    но это не мешает нам постоянно радовать покупателя новыми товарами
                    и выкладываться на полную для поддержания высокого качества услуг.
                </p>
            </div>

            <div class="col-lg-9 row">
                <div class="team-member col-md-4">
                    <a target="_blank" href="https://www.linkedin.com/in/misha-levkov-39b0b5194/"><img class="team-member-img img-fluid rounded-circle p-4" src="~/assets/img/levkov.jpg" alt="Card image"></a>
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Левков Михаил</li>
                        <li>Специалист по продажм и маркетингу</li>
                    </ul>
                </div>
                <div class="team-member col-md-4">
                    <a target="_blank" href="https://www.linkedin.com/in/nicholas-demidovich-155101193/"><img class="team-member-img img-fluid rounded-circle p-4" src="~/assets/img/kolyanchik.jpg" alt="Card image"></a>
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Демидович Николай</li>
                        <li>Заведующий отделом логистики</li>
                    </ul>
                </div>
                <div class="team-member col-md-4">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="~/images/user.png" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Admin</li>
                        <li>Системный администратор интернет-магазина</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section class="bg-secondary py-3">
        <div class="container py-5">
            <h2 class="h2 text-white text-center py-5">Наши партнеры</h2>
            <div class="row text-center">
                <div class="col-md-3 mb-3">
                    <div class="card partner-wap py-5">
                        <a target="_blank" href="https://www.booking.com/index.ru.html"><i class='display-1 text-white bx bxs-buildings'></i></a>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card partner-wap py-5">
                        <a target="_blank" href="https://www.avira.com/ru"><i class='display-1 bx text-white bxs-check-shield bx-lg'></i></a>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card partner-wap py-5">
                        <a target="_blank" href="https://ironsimlog.by"><i class='display-1 text-white bx bxs-bolt-circle'></i></a>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card partner-wap py-5">
                        <a target="_blank" href="https://www.nature.org/en-us/"><i class='display-1 text-white bx bxs-spa'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white py-5">
        <div class="container my-4">

            <h1 class="creative-heading h2 pb-3">Обратная связь</h1>

            <div class="creative-content row py-3">
                <div class="col-md-5">
                    <p class="text-muted col-lg-8 light-300">
                        Оставляя отзывы на товары на нашем сайте,
                        а также оставляя отзывы о работе магазина, вы очень помогаете нам улучшить нам качество услуг.
                        Наш администратор ежедневно рассматривает и анализирует все ваши отзывы.
                        Благодаря вашим отзывам мы можем отслеживать приблежение к нашим целям.
                        Мы будем считать что качество наших услуг больше не нуждается в совершенстве когда все три шкалы достигнут 100%.
                    </p>
                </div>
                <div class="creative-progress col-md-7">

                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">Маркетинг</h4>
                        </div>
                        <div class="col-6 text-right">66%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 66%; background-color: #6c7577;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">Качество услуг</h4>
                        </div>
                        <div class="col-6 text-right">90%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%; background-color: #6c7577;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>


                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">Логистика</h4>
                        </div>
                        <div class="col-6 text-right">74%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 74%; background-color: #6c7577;" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="why-us banner-bg bg-light">
        <div class="container my-4">
            <div class="row">
                <div class="banner-img col-lg-5">
                    <img src="~/assets/img/work.svg" class="rounded img-fluid" alt="">
                </div>
                <div class="banner-content col-lg-7 align-self-end">
                    <h2 class="h2 pb-3">Почему мы?</h2>
                    <p class="text-muted pb-5 light-300">
                        Вы в праве сами выбирать любой интернет магазин.
                        Но в отличие от других магазинов, мы - всегда можем гарантировать качество наших услуг.
                        Товар всегда доставляется к клиенту вовремя без каких-либо задержек в удобное для клиента время.
                        Также у нас вы всегда получаете гарантию на купленный вами товар не менее года.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="banner-bg bg-white py-5">
        <div class="container my-4">
            <div class="row text-center">

                <div class="objective col-lg-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                        <i class="display-4 bx bxs-bulb text-light"></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Наше видение</h2>
                    <p class="light-300">
                        Видиние нашей компании позваляет нам четко оценивать потребности покупателя.
                        Благодаря этому мы всегда знаем чего вы ждете от нас при оформлении заказа в нашем магазине.
                    </p>
                </div>

                <div class="objective col-lg-4 mt-sm-0 mt-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                        <i class='display-4 bx bx-revision text-light'></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Наша миссия</h2>
                    <p class="light-300">
                        Миссия нашей компании заключается в том, чтобы сделать рынок по продаже
                        электротоваров более доступным и надежным.
                        Так же постоянное улучшение качества наших услуг позволяет создавать здоровую конкуренцию на рынке.
                    </p>
                </div>

                <div class="objective col-lg-4 mt-sm-0 mt-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                        <i class="display-4 bx bxs-select-multiple text-light"></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Наша цель</h2>
                    <p class="light-300">
                        Компания D&L постоянно стремится к лучшему.
                        Цель компании добиться максимального успеха в сфере логистики, маркетинга и сфере продажи услуг.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <h1 align="center" class="creative-heading h2 pb-3">Наши офисы:</h1>
    <!--Google map-->
    <section class="banner-bg bg-white py-5">
        <div id="map"></div>
    </section>
    <!-- Bootstrap -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Templatemo -->
    <script src="~/assets/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="~/assets/js/custom.js"></script>
    <script>
        function initMap() {
            var element = document.getElementById('map');
            var options = {
                zoom: 5,
                center: { lat: 55.7558, lng: 37.6173 },
            };

            var myMap = new google.maps.Map(element, options);

            var markers = [
                {
                    coordinates: { lat: 55.751956, lng: 37.622634 },
                    info: '<h3>Москва</h3><br><img src="https://placehold.it/200x150"><br><p>Описание</p>'
                },
                {
                    coordinates: { lat: 59.940208, lng: 30.328092 },
                    info: '<h3>Санкт-Петербург</h3><br> <img src="https://placehold.it/200x150"><br><p>Описание</p>'
                },
                {
                    coordinates: { lat: 53.907635, lng: 27.549639 },
                    info: '<h3>Минск</h3><br><img src="https://placehold.it/200x150"><br><p>Описание</p>'
                }
            ];

            for (var i = 0; i < markers.length; i++) {
                addMarker(markers[i]);
            }

            function addMarker(properties) {
                var marker = new google.maps.Marker({
                    position: properties.coordinates,
                    map: myMap
                });

                if (properties.image) {
                    marker.setIcon(properties.image);
                }

                if (properties.info) {
                    var InfoWindow = new google.maps.InfoWindow({
                        content: properties.info
                    });

                    marker.addListener('click', function () {
                        InfoWindow.open(myMap, marker);
                    });
                }
            }
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
    </script>
</body>

</html>
