
@{
    ViewBag.Title = "D&L: ваша корзина";
}

<header>
    <style>
        #imgDelete:hover {
            color: red;
        }
    </style>
</header>

<h2>Ваша корзина</h2>
<table class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Название</th>
            <th class="text-right">Тип товара</th>
            <th class="text-right">Цена товара</th>
            <th class="text-center">Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td class="text-center">@product.Count</td>
                <td class="text-left">@product.Product.ProductName</td>
                <td class="text-right">@product.Product.ProductType</td>
                <td class="text-right">@product.Product.ProductPrice.ToString("c")</td>
                <td class="text-center">
                    <a href="~/AllProducts/DeleteOneProductCookie?id=@product.Product.ProductId" style="color:black;">
                        <svg id="imgDelete" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @if (Model.Count == 0)
    {
        <a class="btn btn-dark disabled" href="~/AllProducts/CheckOutPage">Оформить заказ</a>
        <a class="btn btn-dark disabled" href="~/AllProducts/ClearCookies">Очистить корзину</a>
    }
    else
    {
        <a class="btn btn-dark" href="~/AllProducts/CheckOutPage">Оформить заказ</a>
        <a class="btn btn-dark" href="~/AllProducts/ClearCookies">Очистить корзину</a>
    }

    @if (User.Identity.Name.Equals("Admin"))
    {
        <a class="btn btn-dark" href="~/Admin/AllProducts/?id=1">Продолжить покупки</a>
    }
    else
    {
        <a class="btn btn-dark" href="~/AllProducts/AllProducts/?id=1">Продолжить покупки</a>
    }

</div>
