<div class="col-lg-6 col-md-8 mx-auto">
    <h1 align="center" class="fw-light header">Заказ был успешно оформлен!</h1>
    <p class="text-muted" style="text-align:justify;margin-top:20px;">
        Спасибо за ваш заказ!
        Все ваши заказы будут отображаться в вашем личном кабинете.
        Чтобы просмотреть ваши заказы перейдите в него.
        Если у вас возникнут какие-либо вопросы по поводу
        заказа, вы всегда можете связаться с нами позвоним
        нам на один из номеров телефона указаных на вкладке контакты, или же написать нам на email.
        С уважением, D&L Store!
    </p>
    <p align="center" style="margin-top: 20px;">
        <a class="btn btn-dark" href="~/AllProducts/AllProducts/?id=1">Продолжить покупки</a>
    </p>
</div>
