<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectroStoreMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link href="~/css/AllProductAdmin.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <nav style="background-color:#212529" class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container-fluid">
            <a id="navbarId" class="area navbar-brand" href="#">D&L Store</a>
            <button id="buttonListId" class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span id="spanListId" class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul id="ulListId" class="navbar-nav me-auto mb-2 mb-md-0">
                    <li id="mainLi" class="nav-item">
                        <a class="nav-link" aria-current="page" href="~/Home/Index">Главная</a>
                    </li>
                    <li id="li2" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Каталог</a>
                        <ul id="ulDropdownMenuId" class="dropdown-menu" aria-labelledby="dropdown05">
                            @{
                                string link = "/AllProducts/AllProducts/?id=1";
                                if (User.Identity.IsAuthenticated)
                                {
                                    if (@User.Identity.Name.Equals("Admin"))
                                    {
                                        link = "/Admin/AllProducts/?id=1";
                                    }
                                }
                                <li><a class="dropdown-item" href=@link>Все товары</a></li>
                            }
                            <li><a class="dropdown-item" href="~/AllProducts/SomeProducts?items=1&items=1">ТВ, Видео</a></li>
                            <li><a class="dropdown-item" href="~/AllProducts/SomeProducts?items=2&items=1">Смартфоны</a></li>
                            <li><a class="dropdown-item" href="~/AllProducts/SomeProducts?items=3&items=1">Компьютеры</a></li>
                            <li><a class="dropdown-item" href="~/AllProducts/SomeProducts?items=4&items=1">Бытовая техника</a></li>
                            <li><a class="dropdown-item" href="~/AllProducts/SomeProducts?items=5&items=1">Фото, видеосъемка</a></li>
                        </ul>
                    </li>
                    <li id="li3" class="nav-item">
                        <a class="nav-link" aria-current="page" href="~/AllProducts/AboutUs">О нас</a>
                    </li>
                    <li id="liBag" class="nav-item">
                        <a class="nav-link" aria-current="page" href="~/AllProducts/Cart">Корзина</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.Identity.Name.Equals("Admin"))
                        {
                            <li>
                                <a class="nav-link" aria-current="page" href="~/Roles/Index">Роли</a>
                            </li>
                        }
                        <li>
                            <a class="nav-link" aria-current="page" href="~/PersonalArea/PersonalRoom">@User.Identity.Name</a>
                        </li>
                        <li>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input id="exitBtn" class="nav-link" aria-current="page" type="submit" value="Выход" />
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link" aria-current="page" asp-controller="Account" asp-action="Login">Вход</a>
                        </li>
                        <li>
                            <a class="nav-link" aria-current="page" asp-controller="Account" asp-action="Register">Регистрация</a>
                        </li>
                    }
                    <li>
                        <form action="~/AllProducts/AllProducts" id="submitForm" method="post" role="form">
                            <input id="seacrhInputIdUnvis" type="text" class="inputUnvis" name="data" placeholder="Поиск">
                        </form>
                    </li>
                </ul>
            </div>            
            <div id="searchId" class="wrap">
                <form action="~/AllProducts/AllProducts" id="submitForm" method="post" role="form">
                    <input id="seacrhInputId" type="text" class="input" name="data" placeholder="Поиск">
                </form>
                <i id="searchPicId" class="fa fa-search" aria-hidden="true"></i>
            </div>

        </div>
    </nav>
    <div id="layout_renderBody_id" class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="container">
        <p align="center">Онлайн поддержка: +375-29-120-71-95  Информация по поводу заказов: +375-29-556-22-33</p>
        <p align="center">Наши офисы: Минск: пр-т. Победителей 7А, офис №293 Москва: ул. Варварка 23 Санкт-Петербург: ул. Грибоедова 3</p>
        <p style="float:right;"><a style="color:black;" href="#">Вернуться на верх</a></p>
        <p>©2021 Company, ElectroStore Inc.</p>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js'></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Layout.js"></script>
    <script src="~/js/AllProductsClient.js"></script>

</body>
</html>
