#layout_renderBody_id {
    position:relative;
    margin-top: 100px;
}

#navbarsExampleDefault {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#exitBtn {
    border: none;
    background: #212529;
}

#exitBtn:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.wrap {
    position: relative;
    margin-left: 4%;
    transform: translate(-50%, -0%);
    width: 0px;
    height: 50px;
    background: #212529;
    line-height: 55px;
    padding-right: 55px;
    transition: all 0.5s ease;
}

.input {
    border: 0;
    background: transparent;
    width: 0%;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    transition: all 0.3s ease;
    position: relative;
}

.wrap .fa {
    color: #fff;
    position: absolute;
    right: 17px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}

.wrap.active {
    margin-right: 20%;
    background: #212529;
    width: 30%;
    padding-left: 25px;
    transition: all 1.5s ease;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input.active {
    width: 98%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
}

input::placeholder {
    color: #fff;
}


#dropdown05:hover{
    cursor:pointer;
}


.inputUnvis {
    display: none;
    border: 0;
    background: transparent;
    width: 98%;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    transition: all 0.5s 0.8s ease;
    position: relative;
    padding-left: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.area{
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    letter-spacing: -1px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur 1.5s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 10px #fff, 
            0px 0px 10px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff, 
            0px 0px 25px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #fff, 
            0px 0px 50px #7B96B8, 
            0px 0px 150px #7B96B8;
    }
}


@media screen and (max-width:767.5px)
{
    .inputUnvis {
        display: inline;
    }
    #searchId {
        display: none;
    }
    #navbarsExampleDefault {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
    }

}
