.header {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.header._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.email {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.email._active {
    transform: translate(0px, 0px);
    opacity: 1;
     transition: all 0.8s ease 0.1s;
}

.userName {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.userName._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.fullName {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.fullName._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.3s;
}

.address {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.address._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

.phoneNumber {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.phoneNumber._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}


.password {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.password._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.6s;
}

.repeatPassword {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.repeatPassword._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.7s;
}

.registration {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.registration._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.8s;
}
._anim-show {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.9s;
}

._anim-show._active,
._active ._anim-show {
    transform: translate(0px, 0px);
    opacity: 1;
}
